# Project specific
/datasets

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Flutter/Dart (if applicable)
build/
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock
